RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]


php_value session.cookie_lifetime 0

php_value session.gc_maxlifetime 7200
