{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <style>
        {% for stylesheet in css %}
            {% include stylesheet %}
        {% endfor %}
    </style>
    {% for topScript in jsTop %}
        {% if ('http://' in topScript or 'https://' in topScript) %}
        <script type="text/javascript" src="{{topScript}}"></script>
        {% else %}
        <script type="text/javascript">{% include topScript %}</script>
        {% endif %}
    {% endfor %}
</head>
<body class="{% block theme %}default{% endblock %}" onload="">
{% block layout %}{% endblock %}
    {% for bottomScript in jsBottom %}
        {% if ('http://' in bottomScript or 'https://' in bottomScript) %}
        <script type="text/javascript" src="{{bottomScript}}"></script>
        {% else %}
        <script type="text/javascript">{% include bottomScript %}</script>
        {% endif %}
    {% endfor %}
</body>
</html>
{% endspaceless %}

