<div id="wrap">
    {% block block1 %}{% endblock %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="block2" class="block span3">{% block block2 %}{% endblock %}</div>
            <div id="block3" class="block span9">{% block block3 %}{% endblock %}</div>
        </div>
    </div>
    <div id="push"></div>
</div>
{% block block4 %}{% endblock %}