{# dependencies: Bootstrap 2.3 #}
<div class="nav-vertical-pills">
{% if list.title|length %}
<p class="menu-title">{{list.title}}</p>
{% endif %}
<ul class="nav nav-pills nav-stacked">
    {% for id, params in list.children %}
        <li class="{% if params.url == current_url %}active{% endif %}"><a href="{{ params.url }}">{{ params.title }}</a></li>
    {% endfor %}
</ul>
</div>