{% block gen_module %}
    {% if notifications|default %}
        {% for notification in notifications %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ notification }}
            </div>
        {% endfor %}
    {% endif %}
    {{ gen_form | raw }}
{% endblock gen_module %}


